*.o
*.a
Makefile
moc_*
OpenCorsairLinkCli
OpenCorsairLinkGui
OpenCorsairLinkGui.app/Contents/Info.plist
OpenCorsairLinkGui.app/Contents/PkgInfo
OpenCorsairLinkGui.app/Contents/MacOS/OpenCorsairLinkGui
OpenCorsairLinkGui.app/Contents/Resources/empty.lproj
